################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookingManager/bin/Debug/netstandard2.0
/BookingManager/obj
/.vs/BookingManager
/BookingManager.Android
/BookingManager.iOS/obj
